<title> 1f primeiro site </title>
	<style type="text/css">
		p {
            color:white;
            text-align:left;
            margin-top: 2%;
            font-size: 1.2em;
            

        }
        body {
        	background-image: url(../imagens/a.jpeg);
           margin-left:auto;
           margin-right:auto;
        }
        .container{
    width: 80%;
    margin-right:auto;
    margin-left: auto; 
        }
       
        h1 {
        	font-size:45px;
        	text-align:center;
        	font-weight: bold;
            margin-top: 2%
            margin-botton: 2%;
            font-size: 2em;
        }
        h2 {
        	font-size:1.2em;
        	text-align:left;
        	font-weight:bold;
            color:white;
            font-size: 1.5em;

        }
        IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

    figure{
     
    border-image: 5px black;


    }
    a: link{
        
        color:white;
        background-color:transparent;
        text-decoration:none;
    }
    a:visited{
        color:blue;
        background-color:transparent;
        text-decoration:none;
    }
    a:hover{
     color: black
     background-color:transparent;
     text-decoration:none;
        
    }
    table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:100%
    }
tr:nth-child(even) {
 
    
}
td,th{
     
     border:1px solid white; 
     color: white;
     background-color: transparent;
     padding: 3%
     
}
.centro{
  text-align: center;  

}
 header{
    background-color: rgb(245,245,245,0.5);
    width: 100%
 }
img{
    width: 50%
}
footer{
    width: 100%;
    padding: 3%;
    text-align: center;
    background-color: rgb(255,255,224,0.5);
}
div{
    width: 80%
}
.nav
{    
    width: 100%;
    padding: 3%;
    text-align: center;
    background-color: rgb(255,255,224,0.5);}
